<div class="footer-wrapper">
    <div [style.min-height]="'300px'" fxLayout="column" fxLayoutAlign="center stretch">

        <!-- personal trade mark -->
        <div fxLayout="column" fxLayoutAlign="center center" >
            <div class="social-media-links-container" fxLayout="row" fxLayoutAlign="space-between">
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/shaung-cheng/" mat-mini-fab aria-label="linkedin">
                    <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
                </a>
                <a target="_blank" rel="noopener" href="https://github.com/rivernews" mat-mini-fab aria-label="github">
                    <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
                </a>
            </div>
            <div fxLayout="row">
                <span class="mat-body-2" align="center" >Shaung Cheng 2019 © All Right Reserved.</span>
            </div>
        </div>

        <!-- efforts claim -->
        <div fxLayout="column" fxLayoutAlign="center center">

            <span class="mat-caption" align="center">This website is built from scratch by my burning passion
                <mat-icon fontIcon="fa-fire"></mat-icon>on UX design, and my developer's love
                <mat-icon fontIcon="fa-heart"></mat-icon>on making things happen.
            </span>
            <span class="mat-caption" align="center">All the website details are planned, crafted and brought to you by these cutting-edge frontend technologies:</span>
            <div fxLayout="row wrap" fxLayoutAlign="center start">
                <a href="https://angular.io/" target="_blank" rel="noopener" mat-button>
                    <mat-icon fontSet="fab" fontIcon="fa-angular"></mat-icon> Angular 7
                </a>
                <a href="https://material.angular.io/" mat-button target="_blank" rel="noopener">
                    <mat-icon fontSet="fa" fontIcon="fa-paper-plane"></mat-icon> Angular Material 2
                </a>
                <a href="https://fontawesome.com/icons" mat-button target="_blank" rel="noopener">
                    <mat-icon fontSet="fab" fontIcon="fa-font-awesome-flag"></mat-icon>Font Awesome 5
                </a>
                <a href="https://material.io/tools/icons/?style=baseline" target="_blank" rel="noopener" mat-button>
                    <mat-icon fontIcon="fa-thumbs-up"></mat-icon> Material Icons
                </a>
                <a href="https://material.angular.io/guide/typography" target="_blank" rel="noopener" mat-button target="_blank" rel="noopener">
                    <mat-icon fontIcon="fa-font"></mat-icon> Material Typography
                </a>
                <a href="https://github.com/angular/flex-layout" mat-button target="_blank" rel="noopener">
                    <mat-icon fontIcon="fa-th-large"></mat-icon> Flex Layout
                </a>
                <a href="https://material.io/" mat-button target="_blank" rel="noopener">
                    <mat-icon fontSet="fab" fontIcon="fa-google"></mat-icon> Material Design
                </a>
                <a href="https://ckeditor.com/latest/samples/toolbarconfigurator/index.html#advanced" mat-button target="_blank" rel="noopener">
                    <mat-icon fontIcon="fa-edit"></mat-icon> CKEditor
                </a>
                <a href="https://www.sketchapp.com/" mat-button target="_blank" rel="noopener">
                    <mat-icon fontIcon="fa-gem"></mat-icon> Sketch
                </a>
            </div>

            <span class="mat-caption" align="center">As well as industry-tested backend languages and platforms as below</span>
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <a href="//s3.console.aws.amazon.com/s3/home?region=us-east-2" mat-button target="_blank" rel="noopener">
                    <mat-icon fontSet="fab" fontIcon="fa-amazon"></mat-icon> AWS S3
                </a>
                <a href="https://console.aws.amazon.com/elasticbeanstalk/home" mat-button target="_blank" rel="noopener">
                    <mat-icon fontSet="fab" fontIcon="fa-aws"></mat-icon> Elastic Beanstalk
                </a>
                <a href="https://www.djangoproject.com/" mat-button target="_blank" rel="noopener">
                    <mat-icon fontSet="fab" fontIcon="fa-python"></mat-icon> Django
                </a>
                <a href="https://www.django-rest-framework.org/" mat-button target="_blank" rel="noopener">
                    <mat-icon fontIcon="fa-database"></mat-icon> Django RESTful Framework
                </a>
            </div>

            <span class="mat-body-2">
                <a routerLink="/login" mat-button>
                    <mat-icon fontIcon="fa-wrench"></mat-icon> Admin portal
                </a>
            </span>
        </div>
    </div>
</div>