<div class="footer-wrapper">
    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <div class="link-group" fxLayout="column" fxLayoutAlign="start start">
            <span class="mat-overline" mat-button>PROFESSIONAL</span>
            <a routerLink="/home" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-home"></mat-icon> Home
            </a>
            <a href="https://drive.google.com/file/d/1xEvp8K7oEPbUPTcelx9HrvwsTVKo-1Bs/view" mat-button target="_blank">
                <mat-icon fontIcon="fa-envelope"></mat-icon> Resume
            </a>
            <a routerLink="/portfolio" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-suitcase"></mat-icon> Projects
            </a>
            <a routerLink="/about" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-user-circle"></mat-icon> About
            </a>
        </div>
        <div class="link-group" fxLayout="column" fxLayoutAlign="start start">
            <span class="mat-overline">PERSONAL</span>
            <a routerLink="/blog" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-align-left"></mat-icon> Blog
            </a>
            <a routerLink="/design-lang-system" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-flask"></mat-icon> Experiments
            </a>
            <a routerLink="/login" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-wrench"></mat-icon> Admin
            </a>
        </div>
        <div class="link-group" fxLayout="column" fxLayoutAlign="start start">
            <span class="mat-overline">LET'S CONNECT</span>
            <a routerLink="/contact" mat-button queryParamsHandling="merge">
                <mat-icon fontIcon="fa-envelope"></mat-icon> Contact
            </a>
            <div fxLayout="row" class="social-media-links-container">
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/shaung-cheng/" mat-mini-fab aria-label="linkedin">
                    <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
                </a>
                <a target="_blank" rel="noopener" href="https://github.com/rivernews" mat-mini-fab aria-label="github">
                    <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
                </a>
                <a target="_blank" rel="noopener" href="https://medium.com/@shaungc" mat-mini-fab aria-label="medium">
                    <mat-icon fontSet="fab" fontIcon="fa-medium"></mat-icon>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-text-container" fxLayout="column" fxLayoutAlign="center stretch">
        <div fxLayout="column" fxLayoutAlign="center center" >
            <div fxLayout="row">
                <span class="mat-body-2" align="center" >This website is built from scratch by my love for user-experience design, and my developer's passion on making things happen.</span>
            </div>
            <div fxLayout="row">
                <span class="mat-body-2" align="center" >Check out the code repository at 
                    <a target="_blank" mat-button rel="noopener" href="https://github.com/rivernews/iriversland2-spa/" aria-label="github">
                        <mat-icon [style.transform]="'scale(1.5)'" fontSet="fab" fontIcon="fa-github"></mat-icon>
                        Github
                    </a>
                </span>
            </div>
            <div fxLayout="row">
                <span class="mat-body-2" align="center" >Shaung Cheng 2021 © All Right Reserved.</span>
            </div>
        </div>
    </div>
</div>