<div [style.min-height]="'100vh'"  [style.background]="'whitesmoke'"
fxLayout="column" >
    <div
    fxFlex.gt-sm fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch" 
    fxFlex.lt-md="noshrink" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch">
        <div 
        fxFlex.gt-sm="35%"  
         [style.background]="'gray'" >
            <div class="selfie-img" 
                [defaultImage]="'https://s3.us-east-2.amazonaws.com/iriversland2-media/editor_uploads/about/selfie_blurred.jpg'"

                [lazyLoad]="'https://s3.us-east-2.amazonaws.com/iriversland2-media/editor_uploads/about/selfie.jpg'">
            </div>
        </div>
        <div class="about-me-text-content-container" fxLayout="row"
        fxFlex.gt-sm
        fxFlex.lt-md="noshrink" >
            <span fxFlex="11%" fxFlex.lt-md="10%"></span>
            <div fxFlex fxLayout="column" fxLayoutAlign.gt-sm="center start" fxLayoutAlign.lt-md="start start">
                <span [ngClass.gt-sm]="'mat-display-1'" [ngClass.lt-md]="'mat-display-3'">Engineering for the Experience</span>
                <!-- <span [ngClass.gt-sm]="'mat-headline'" [ngClass.lt-md]="'mat-title'">I Listen, Engage, and Build</span> -->
                <span class="mat-body-1">
                    <br>
                    I’m a Full Stack Engineer at Stanford on the ClinGen team. We help researchers curate genes and diseases for use in precise medicine. 
                    <br><br>
                    I enjoy taking ownership of engineering both backend and frontend to create product that impacts people’s daily lives, and I'm enthusiastic about user-centric methodology. How can we engineer a better experience? 
                    Users want prompt and constant feedback from the system they use, which creates new challenges 
                    in the UI and backend system.
                    <br><br>
                    My background in Computer Science and Human-Computer Interaction 
                    helps me understand users 
                    needs, and specialize in building 
                    systems that scale to meet performance goals and deliver a smooth experience. 
                </span>
            </div>
            <span fxFlex="19%" fxFlex.lt-md="10%"></span>
        </div>
    </div>
</div>

<app-major-roles></app-major-roles>

<div class="passion-section"  [style.background]="'whitesmoke'">
    <div fxFlex fxLayout="row" fxLayoutAlign="start start">
        <span fxFlex="24%" fxFlex.lt-md="10%" ></span>
        <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
            <span [ngClass.gt-sm]="'mat-display-1'" [ngClass.lt-md]="'mat-display-2'">Empathy</span>
            <span class="mat-body-1">
                <br>
                Empathy brings us all together. 
                To me, engineering a great user experience is a journey to empathy. Putting myself into others shoes. Being aware that everyone has a bias, acknowledging that, getting out of my developer bias, and try to view in other's lens.
                <br>
                <br>
                It also means engineering a great developer experience. I care about the code I write, how it could be maintained by other team members, and less prone to error.
                <br>
                <br>
                We're all in this together.
            </span>
        </div>
        <span fxFlex="24%" fxFlex.lt-md="10%"></span>
    </div>
</div>

<!-- <mat-grid-list cols="1" [rowHeight]="screenHeight" [gutterSize]="'0'">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'whitesmoke'">
        <div fxFlex fxFlexFill fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="10%"></span>
            <div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="center stretch">
                <span class="mat-display-1" fxHide.lt-md>Interest</span>
                <span class="mat-display-2" fxHide.gt-sm>Interest</span>      
                <mat-grid-list cols="3" rowHeight="fit" [style.height]="screenHeight*3/5 + 'px'" [gutterSize]="'4px'">
                    <mat-grid-tile *ngFor="let photo of photos; let i = index" [style.background]="'gray'" [colspan]="1" [rowspan]="1">
                        <mat-grid-tile-footer>
                            <span class="mat-body-1">{{photo.label}}</span>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <span fxFlex="10%"></span>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->