// Editor give a border or backgorund to show editable area boundary
@mixin shaded-input-field-mixin($border-radius: 10px) {
    outline: 0;
    border-style: none;
    // border-width: 3px;
    // border-color: $primary-color;
    // border-radius: $border-radius;
    background-color: rgba($color: black, $alpha: 0.07);
}
.shaded-input-field[contentEditable][contentEditable=true], // for dov editable like doc title (just plain text), but not ckeditor
.shaded-input-field .ck.ck-content.ck-editor__editable > *:not(figure), // for ckeditor like doc content, but only the text content instead of images.
.shaded-input-field mat-chip-list .mat-chip-list-wrapper, // for doc tag chips (deprecated)
.shaded-input-field input { // for doc tag input
    &, &:focus, &:hover {
        @include shaded-input-field-mixin();
    }
}

// Remove mat-form-field input's underline. We're not overwriting all mat-input,
// so please use class selector .input-field-no-underline when applying this style
mat-form-field.mat-form-field.input-field-no-underline .mat-form-field-underline {
    display: none;
}

mat-form-field.mat-form-field mat-chip-list {
    &:focus {
        outline: none;
    }

    mat-chip.mat-chip {
        user-select: none;
        box-shadow: none;
    }
}